/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  color: #212529;
  min-height: 100vh;
}

/* MAIN CONTENT */
.content {
  margin-left: 280px;
  padding: 40px;
  flex: 1;
  background-color: #f9fafb;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #111827;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #374151;
}

@media (max-width: 768px) {

  .content {
    margin-left: 0;
    padding: 24px;
  }
}
